# Environment files
.env
.env.*

# Java / Spring Boot
target/
*.jar
*.war

# Node (if frontend exists)
node_modules/

# Logs
*.log

# IDE files
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

# Docker
*.pid

# Build
build/

# Misc
*.tmp